:root {
    --main-color: #d1e9ff;
    --hover-color:  #78adde;
  }
  *{
    box-sizing:border-box;
  }
body{ 
    font-family: Raleway, sans-serif;
    margin: 0;
    font-size: 14px;
    color: var(--main-color);
}
/* == Backgraound ================================================*/
.mask{
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 18, 20, 0.967);
    z-index: -4;
    position: fixed;
    
}   
.vid{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -5;
}
.container{
    width : 100%;
    max-width: 1200px;
    min-width: 1200px ;
    margin: 0 auto;
}
/* == Header ================================================*/
.header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}
.header__in{
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid var(--main-color);
    padding: 25px;
    align-items: center;
}
.header__nav{
    transition:  color .15s linear;
    transition: font-size .15s linear;
    margin: 0;

    
}
.header__nav__link{
    width: 150px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.85;
    margin: 10px;
    padding: 10px;
    transition: opacity 0.15s linear;
    transition: color 0.15s linear;
}
.header__nav__link:hover {
    color: var(--hover-color);
    opacity: 1;
}
/* == Intro ================================================*/
h1{
    font-size: 60px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 100px;
}
h2{
    font-size: 40px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 100px;
 
}
/* == Progect ================================================*/
.project__nav{
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
}
.small__project__box{
    position: relative;
    box-sizing: border-box;
    width: 260px;
    height: 260px;
    margin: 20px;
}
.small__project__box:hover .box__hover{
    opacity: 1;
}
.box__hover{
    position: relative;
    width: 260px;
    height: 230px;
    color: var(--main-color);
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 41, 53, 0.833);
    opacity: 0;
    transition: opacity .15s linear;

}
.box__image{
    position: relative;
    width: 260px;
    height: 230px;
}
.img{
    position: absolute;
    object-fit: cover;
    width: 260px;
    height: 230px;
}
.box__name{
    width: 100%;
    height: 30px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.111);
}
/* == Creater ================================================*/
.creator{
    position:  relative;
    height: 560px;
    margin: 20px;
    display: flex;
    justify-content:space-between;
    
}
.photo{
    position: relative;
    width: 560px;
    height: 560px;

}
.img__creator{
    position: relative;
    object-fit: cover;
    width: 560px;
    height: 560px;
}
.cretor__info{
    position:  relative;
    width: 100%;
    margin: 30px;

}
.cretor__info__text{
    color: var(--main-color);
    font-size: 44px;
    font-family: Raleway, sans-serif;
}
/* == Footer ================================================*/
.footer{
    border-top: 1px solid var(--main-color);


}
.footer__text{
    font-size: 24px;
    color: var(--main-color);
}